---
// Component Imports:
import BaseHead from '../components/BaseHead.astro'
import Footer from '../components/footer.astro'
import Wrapper from '../components/Wrapper.astro'
// import Nav from '../components/Nav/Nav.astro'
import NavList from '../components/Nav/NavList.astro'

// Component Script:
const {title, description, permalink, publishDate } = Astro.props
---

<html lang="en">
<head>
	<BaseHead title={title} description={description} permalink={permalink} publishDate={publishDate} />
</head>
<body>
    <NavList />
    <Wrapper>
        <slot />
        <Footer />
    </Wrapper>
</body>
</html>