---
// Component Imports:
import BaseHead from '../components/BaseHead.astro'
import Footer from '../components/footer.astro'
import Wrapper from '../components/Wrapper.astro'
// import Nav from '../components/Nav/Nav.astro'
import NavList from '../components/Nav/NavList.astro'

// Component Script:

interface BaseLayoutProps {
    title: string
    description?: string
    permalink?: string
    publishDate?: string
    wrapper: boolean
}

const { title, description, permalink, publishDate, wrapper } = Astro.props as BaseLayoutProps
---

<style lang='scss'>
    .content {
        position: relative;
        min-height: calc(100vh - 105px);
        margin: 5px auto 50px;
        width: 90vw;
        padding: 25px 0 120px 0;
        max-width: 848px;
    }
</style>

<html lang="en">

<head>
    <BaseHead title={title} description={description} permalink={permalink} publishDate={publishDate} />
</head>

<body>
    <NavList />
    {wrapper ?
    <Wrapper>
        <slot />
        <Footer />
    </Wrapper>
    :
    <div class="content">
        <slot />
        <Footer />
    </div>
    }
</body>

</html>