---
import BaseLayout from './BaseLayout.astro'

---

<BaseLayout>
    <main>
        <article>
            <h1></h1>
            <div>
                <time></time>
            </div>
            <div>
                <!-- Tags/Keywords -->
            </div>
            <slot />
        </article>
    </main>
</BaseLayout>