---
import BaseHead from "../components/BaseHead.astro"
import BlogAside from "../components/BlogAside.astro"
import Footer from "../components/Footer.astro"
import BlogNav from "../components/Nav/BlogNav.astro"



interface BlogLayoutProps {
    title: string
    description?: string
    permalink?: string
    publishDate?: string
    wrapper: boolean
}

const { title, description, permalink, publishDate, wrapper } = Astro.props as BlogLayoutProps
---

<html lang="en">
<BaseHead title={title} description={description} permalink={permalink} publishDate={publishDate} />
<body>
    <main class="content">
        <div class='blogWrapper'>
            <BlogAside />
            <div class="contentWrapper">
                <slot/>
            </div>
            <BlogNav/> 
        </div>
        <div class="footerWrapper">
            <Footer />
        </div>
    </main>
</body>
</html>

<style lang='scss'>
    .content {
        position: relative;
        min-height: calc(100vh - 105px);
        margin: 5px auto 50px;
        padding: 20px 0;
    }
    .contentWrapper {
        width: 90vw;
        padding: 0 5vw;
    }
    .blogWrapper {
        display: flex;
    }
    .footerWrapper {
        margin-top: 80px;
    }
</style>