---
import BaseHead from "../components/BaseHead.astro"



interface BlogLayoutProps {
    title: string
    description?: string
    permalink?: string
    publishDate?: string
    wrapper: boolean
}

const { title, description, permalink, publishDate, wrapper } = Astro.props as BlogLayoutProps
---

<style lang ='scss'>
    @import '../styles/_variables.scss';

</style>

<html lang="en">
<BaseHead title={title} description={description} permalink={permalink} publishDate={publishDate} />
<body>
    <main>
        <slot/>
    </main>
</body>
</html>