---
import BaseHead from "../components/BaseHead.astro"
import BlogAside from "../components/BlogAside.astro"
import Footer from "../components/Footer.astro"
import BlogNav from "../components/Nav/BlogNav.astro"



interface BlogLayoutProps {
    title: string
    description?: string
    permalink?: string
    publishDate?: string
    wrapper: boolean
}

const { title, description, publishDate, } = Astro.props as BlogLayoutProps
---

<html lang="en">
<BaseHead title={title} description={description} publishDate={publishDate} />
<body>
    <main class="content">
        <div class='blogWrapper'>
            <BlogAside />
            <div class="contentWrapper">
                <slot/>
            </div>
            <BlogNav/> 
        </div>
        <div class="footerWrapper">
            <Footer />
        </div>
    </main>
</body>
</html>

<style lang='scss'>
    @import '../styles/_variables.scss';
    .content {
        position: relative;
        min-height: calc(100vh - 105px);
        margin: 5px auto 50px;
        padding: 20px 0;
    }
    .contentWrapper {
        width: 90vw;
        padding: 0 5vw;
    }
    .blogWrapper {
        display: flex;
    }
    .footerWrapper {
        margin-top: 80px;
    }
    @media screen and (max-width: $bp-tablet) {
        .blogWrapper {
            flex-direction: column-reverse;
        }
        .contentWrapper {
            width: 90vw;
            // padding: 0 5vw;
            margin: 0 auto;
    }
    }
</style>