---
import BaseLayout from './BaseLayout.astro'
import Tags from '../components/Tags.astro'

const { content } = Astro.props
// console.log(content)
const { title, date, readTime, categories } = content
const dateFormat = { year: 'numeric', month: 'long', day: '2-digit' } as Intl.DateTimeFormatOptions
---

<BaseLayout>
    <main>
        <article>
            <h1>{title}</h1>
            <div>
                <time datetime={date}>{new Intl.DateTimeFormat('en', dateFormat).format(new Date(date))}, {readTime} read</time>
            </div>
            <div>
                <Tags tags={categories} />
            </div>
            <slot />
        </article>
    </main>
</BaseLayout>