---
import BaseHead from '../components/BaseHead.astro';
import { generateCategoriesData } from '../utils/helper.ts';

const { content } = Astro.props;
const allCategories = generateCategoriesData(content.categories);
---

<html lang="en">
    <head>
	    <BaseHead title={content.title}/>
	    <style>
            :global(img) {
                width: 300px;
                height: auto;
                margin: 30px auto;
            }
            article {
                margin: 30px auto;
                width: 75%;
            }
        </style>
    </head>
    <body>
        <ul>
            {allCategories.map((elem) => (
                <li><a href={`/blog/categories/${elem.slug}`}>{elem.name}</a></li>
            ))}
        </ul>
        <article>
            <slot />
        </article>
    </body>
</html>