---
import BaseLayout from './BaseLayout.astro'

const { content } = Astro.props
// console.log(content)
const { title, date, Keywords } = content
---

<BaseLayout>
    <main>
        <article>
            <h1>{title}</h1>
            <div>
                <time></time>
            </div>
            <div>
                <!-- Tags/Keywords -->
            </div>
            <slot />
        </article>
    </main>
</BaseLayout>