---
import BaseLayout from './BaseLayout.astro'
import Tags from '../components/Tags.astro'

const {title, technologies, url, repo} = Astro.props.content
---

<BaseLayout>
    <main>
        <section>
            <h3>{title}</h3>
            <a href={url} rel="noreferrer">Site</a>
            <a href={repo} rel="noreferrer">Repo</a>
            <div>
                <Tags tags={technologies}/>
            </div>
            <slot />
        </section>
    </main>
</BaseLayout>