---
import BaseLayout from './BaseLayout.astro'

const {title} = Astro.props
---

<BaseLayout>
    <main>
        <div>
            <h3>{title}</h3>
        </div>
        <slot />
    </main>
</BaseLayout>