---
import BaseLayout from './BaseLayout.astro'
import Tags from '../components/Tags.astro'
import LinkButton from '../components/LinkButton.astro';

const {title, technologies, url, repo} = Astro.props.content
---

<BaseLayout>
    <main>
        <section>
            <h3>{title}</h3>
            <div>
                <LinkButton href={url} rel="noreferrer">Site</LinkButton>
                <LinkButton href={repo} rel="noreferrer">Repo</LinkButton>
            </div>
            <div>
                <Tags tags={technologies}/>
            </div>
            <slot />
        </section>
    </main>
</BaseLayout>