---
import BaseLayout from '../../layouts/BaseLayout.astro'

---

<BaseLayout title={title}>
	<header>
		<h1>{title}</h1>
	</header>
	<body>
		<section>
            Details about specific piece of work/project.
        </section>
	</body>
</BaseLayout>