---
import WorkLayout from '../../layouts/WorkLayout.astro'

const {title} = Astro.props
---

<WorkLayout title={title}>
	<header>
		<h1>{title}</h1>
	</header>
	<body>
		<section>
            Details about specific piece of work/project.
        </section>
	</body>
</WorkLayout>