---
// Component Imports
import BaseLayout from '../../layouts/BaseLayout.astro'

// Component Script:

const allWork = (await Astro.glob('./*.md')).sort((a, b) => a.frontmatter.index - b.frontmatter.index)
// console.log('allwork', allWork)

const { props } = Astro.props
const { params } = Astro.params
// console.log(props)


const title = 'Work - Richard';
const description = 'Explore some of the work Richard has done.'
const permalink = ''
const publishDate = ''


---
<BaseLayout title={title}>
	<header>
		<h1>Work</h1>
	</header>
	<body>
		<section>
            {allWork.map((work) => 
			<div>
				<a href={work.url}><h3>{work.frontmatter.title}</h3></a>
			</div>)}
        </section>
	</body>
</BaseLayout>