---
// Component Imports
// Component Imports
import BaseLayout from '../../layouts/BaseLayout.astro'

// Component Script:

// export async function getStaticPaths() {
//     return allPosts = Astro.fetchContent('./*.md')
// }

// const { sortedPosts } = Astro.props


const title = 'Work - Richard';
const description = 'Explore some of the work Richard has done.'
const permalink = ''
const publishDate = ''


---
<BaseLayout title={title}>
	<header>
		<h1>Work</h1>
	</header>
	<body>
		<section>
            A list of my work and projects. 
        </section>
	</body>
</BaseLayout>