---
// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro'

// Component Script:

let title = 'Contact - Richard';

---
<BaseLayout title={title}>
	<header>
		<h1>Contact</h1>
	</header>
	<body>
		<section>
            <form></form>
        </section>
	</body>
</BaseLayout>