---
// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro'

// Component Script:

const title = 'Home - Richard'
const description = "Welcome to Richard's portfolio."
const permalink = ''
const publishDate = ''

---
<BaseLayout title={title}>
	<header>
		<h1>Richard Miller Wimmer</h1>
	</header>
	<body>
		<article>
			<p>Thanks for visiting my site.</p>
			<p>I am a developer/engineer based in the Greater Cincinnati Area. Feel free to take a look around. You can find some of my work <a href='/work'>here</a>, get in tourch with me <a href='/contact'>here</a>, and learn mor about me <a href='/about'>here</a>.</p>
			<p>I currently work at Insight as an Associate Software Engineer in consulting. In this role I focus on frontend technologies.</p>
		</article>
	</body>
</BaseLayout>
