---
// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro'
import '_variables.scss'

// Component Script:

const title = 'Home - Richard'
const description = "Welcome to Richard's portfolio."
const permalink = ''
const publishDate = ''

---

<style lang='scss'>
	@import '../styles/_variables.scss';
	#title{
		font-family: $font-accent;
	}
</style>
<BaseLayout title={title}>
	<header>
		<h1>Hi, I'm Richard Miller Wimmer</h1>
		<h3>And I like solving problems, fixing stuff, and creating things people enjoy.</h3>
	</header>
	<body>
		<article>
			<p>Thanks for visiting my site.</p>
			<p>I am a developer/engineer based in the Greater Cincinnati Area. Feel free to take a look around. You can find some of my <a href='/work'>work</a>, get in <a href='/contact'>touch</a> with me, and learn more <a href='/about'>about me</a>.</p>
			<p>I currently work at Insight as an Associate Software Engineer in consulting. In this role I focus on frontend technologies to provide the best possible user experience.</p>
		</article>
	</body>
</BaseLayout>
