---
// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro'
import Hero from '../components/Hero.astro'
import FeatureContainer from '../components/FeatureContainer.astro'
import styles from '../styles/Home.module.scss'

// Component Script:

const title = 'Home - Richard'
const description = "Welcome to Richard's portfolio."
const permalink = ''
const publishDate = ''

---

<style>
	a {
		text-decoration: underline;
	}
</style>

<BaseLayout title={title} wrapper>
	<Hero />
	<body>
		<article class={styles.mainContent}>
			<p>Thanks for visiting my site.</p>
			<br>
			<p>I am a developer/engineer based in the Greater Cincinnati Area. Feel free to take a look around. You can
				find some of my <a href='/work'>work</a>, get in <a href='/contact'>touch</a> with me, learn more <a
					href='/about'>about</a> me, and
				read some of my <a href='/blog'>articles</a>.</p>
			<p>I currently work at Insight as an Associate Software Engineer in consulting. In this role I focus on
				frontend technologies to provide the best possible user experience.</p>
		</article>
		<FeatureContainer />
	</body>
</BaseLayout>