---
// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro'

// Component Script:

let title = 'Work - Richard';

---
<BaseLayout title={title}>
	<header>
		<h1>Work</h1>
	</header>
	<body>
		<section>
            A list of my work and projects. 
        </section>
	</body>
</BaseLayout>