---
import BlogLayout from '../../../layouts/BlogLayout.astro'
import BlogCard from '../../../components/BlogCard.astro'
import { getCategorySet, generateCategoriesData } from '../../../utils/helpers'


export async function getStaticPaths() {
  const allPosts = await Astro.glob('../*.mdx');
  const frontmatterArray = getCategorySet(allPosts, "frontmatter")
  // console.log(frontmatterArray)
  const categorySet = getCategorySet(frontmatterArray, "categories")
  // console.log(categorySet)
  const paths = generateCategoriesData(categorySet)
  console.log(paths)
  return
}

const title = "Blog Category"
const description = "Browser this category"

---

<style lang='scss'>
    header {
      margin-bottom: 20px;
    }
  </style>
  
  <BlogLayout title={`${title} - Richard`} description={description} wrapper={false}>
        <header>
          <h1>{title}</h1>
        </header>
        <section >
          <h2>Tag Pages</h2>
        </section>
  </BlogLayout>