@import './variables';

.navContatiner {
  position: relative;
}

.menu {
    background-color: #0d3052CC;
    position: fixed;
    right: -25px;
    bottom: -30px;
    width: 110px;
    height: 110px;
    z-index: 20;
    border-radius: 50%;
  }

  .menu > button {
    border: none;
    background: none;
  }

  .burgerContainer {
    position: fixed;  
    width: 45px;
    bottom: 25px;
    right: 15px;
  }

  .bar {
    height: 5px;
    width: 100%;
    background-color: $color-white;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }

  .open.menu {
    width: 280px;
    height: 400px;
    border-radius: 122px 122px 0px 30px / 114px 51px 0px 76px;  
  }

  .bar1 {
    transform: translateY(-6px);
  }

  .bar3 {
    transform: translateY(6px);
  }

  .open.bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  .open.bar2 {
    opacity: 0;
  }
  .open.bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }

  .menu.open ul {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateY(-50%) translateX(50%);
  }

  .menu li {
    display: none;
  }

  .menu.open li{
    display: block;
    color: $color-white;
  }

@media screen and (min-width: $bp-mobile) {
    .menu {
      display: none;
    }
    .navlistContainer {
      position: relative;
    }
  }