@import '../styles/_variables.scss';

.featureWrapper {
    height: 400px;
}

.featureContainer {
        margin-top: 40px;
        background-color: $color-light;
        padding: 20px;
        border-radius: 20px;
    }

.featureContainer > h3 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.cardContainer {
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 20px;
    margin-bottom: -160px;
}

@media screen and (max-width: $bp-tablet) {
    .cardContainer {
        flex-direction: column;
        align-items: center;
    }
    .featureWrapper {
        height: unset;
        margin-bottom: 190px;
    }
}