@import '../styles/_variables.scss';

.featureContainer {
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-top: 40px;
    }

    @media screen and (max-width: $bp-tablet) {
    .featureContainer {
        flex-direction: column;
        align-items: center;
    }
}