@import '_variables.scss';

.navWrapper {
  display: inline-block;
}

a {
  text-decoration: none;
}

.navLink{
  position: relative;
  display: inline-block;
  padding: 0 15px;
  margin: 10px 0;
}

.navLink:before {
  left: 20%;
  right: 20%;
  top: 50%;
  content: '';
  border-left: 12px solid $color-black;
  border-right: 12px solid $color-black;
  height: 3px;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.navLink:hover:before,
.isActive:before {
  left: 0;
  right: 0;
  opacity: 1;
}
