---
import Card from "./Card.astro";
---

<style>
    section {
        display: flex;
        position: relative;
        margin-top: 40px;
    }
</style>

<section>
    <Card/>
    <Card/>
</section>