---
// Component Imports

// Component Script:

---

<style>
    footer{
        text-align: center;
        padding-top: 30px;
    }
</style>

<footer>
    	<h5>&copy; 2021 Richard Miller Wimmer</h5>
		<p>🚀 Built using Astro and React</p>
</footer>