---
// Component Imports

// Component Script:

---

<style>
    footer{
        text-align: center;
        padding-top: 30px;
    }
</style>

<footer>
    	<h5>&copy; 2021 Richard Miller Wimmer</h5>
        <div>
            <a href="https://github.com/RichardMillerWimmer" target="_blank" rel="noreferrer">
                github
                <!-- <image src='/public/github.svg'/> -->
            </a>
            <a href="https://www.linkedin.com/in/richard-miller-wimmer/"
                target="_blank" rel="noreferrer">
                linkedin
                <!-- <image src='/public/linkedin.svg'/> -->
            </a>
        </div>
</footer>