---
import '../styles/_variables.scss'

---

<style lang='scss'>
	@import '../styles/_variables.scss';
	#title{
		font-family: $font-accent;
		font-weight: 700;
	}
</style>

<header>
	<h1 id='title'>Hi, I'm Richard Miller Wimmer</h1>
	<h3>And I like solving problems, fixing stuff, and creating things people enjoy.</h3>
</header>