---
import '../styles/_variables.scss'
import styles from '../styles/Hero.module.scss'
import Avatar from '/assets/CartoonLarge.svg'

---

<style lang='scss'>
	@import '../styles/_variables.scss';
	#title{
		font-family: $font-accent;
		font-weight: 700;
	}
</style>

<header>
	<img class={styles.heroImg} src={Avatar} />
	<div>
		<h1 id='title'>Hi, I'm Richard Miller Wimmer</h1>
		<h3>And I like solving problems, fixing stuff, and creating things people enjoy.</h3>
	</div>
</header>