---
    interface ThumbnailProps {
        src: string
        title: string
        description: string
        url: string
    }

    const { src, title, description, url } = Astro.props as ThumbnailProps
---

<style>
    .container {
        position: relative;
        margin: 0 auto;
        height: 300px;
        width: 566px;
        transition: .5 ease-in-out;

    }

    .workImg {
        height: 300px;
    }

    .thumbnailContent {
        position: absolute;
        padding: 20px 40px;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }

    .container:hover .thumbnailContent {
        opacity: 1;
    }

    .container:hover .workImg {
        opacity: .25;
    }
</style>

<div class='container'>
    <a href={url}>
        <img class="workImg" src={src} />
        <div class="thumbnailContent">
            <h3>{title}</h3>
            <p>{description}</p>
        </div>
    </a>
</div>