---
    interface ThumbnailProps {
        src: string
        title: string
        description: string
        url: string
    }

    const { src, title, description, url } = Astro.props as ThumbnailProps
---

<style>
    .container {
        position: relative;
        margin: 0 auto 50px;
        height: 300px;
        width: 566px;
    }

    .container .thumbnailContent {
        opacity: 0;
        -webkit-transition: .5s ease-in-out;
        transition: .5 ease-in-out;
    }

    .container .workImg {
        opacity: 1;
        -webkit-transition: .5s ease-in-out;
        transition: .5 ease-in-out;
    }

    .workImg {
        height: 300px;
        opacity: 1;
    }

    .seeMoreCenter {
        text-align: center;
    }

    .thumbnailContent {
        position: absolute;
        padding: 20px 40px;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }

    .container:hover .thumbnailContent {
        opacity: 1;
    }

    .container:hover .workImg {
        opacity: .10;
    }
</style>

<div class='container'>
    <a href={url}>
        <img class="workImg" src={src} />
        <div class="thumbnailContent">
            <h3>{title}</h3>
            <p>{description}</p>
            <p class="seeMoreCenter">see more</p>
        </div>
    </a>
</div>