---
// Component Imports:
import '../styles/_variables.scss'
// Component Script:

---

<style lang='scss'>
    @import '../styles/_variables.scss';
    .wrapperContent{
        position: relative;
        min-height: calc(100vh - 105px);
        background-color: $color-sublte;
        margin: 5px auto 50px;
        width: 90vw;
        padding: 25px 25px 120px 25px;
    }
</style>

<div class="wrapperContent">
    <slot />
</div>