---
// Component Imports:
import '../styles/_variables.scss'
// Component Script:

---

<style lang='scss'>
    @import '../styles/_variables.scss';
    .wrapper-content{
        background-color: $color-sublte;
        margin: 5px auto 50px;
        width: 90vw;
        padding: 25px;
    }
</style>

<div class="wrapper-content">
    <slot />
</div>