---
// Component Imports:
import NavList from '../components/Nav/NavList.tsx'
import '../styles/_variables.scss'
// Component Script:
const page = new URL(Astro.request.url).pathname;
console.log(page)

---

<style lang='scss'>
    @import '../styles/_variables.scss';
    .wrapper-content{
        background-color: $color-sublte;
        margin: 50px auto;
        width: 90vw;
        padding: 25px;
    }
</style>

<div class="wrapper-content">
    <NavList client:only page={page}/>
    <slot />
</div>