---
// Component Imports:

// Component Script:

---

<style lang='scss'>
    @import '../styles/_variables.scss';
    .wrapperContent{
        position: relative;
        min-height: calc(100vh - 105px);
        background-color: $color-subtle;
        box-shadow:  20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
        -webkit-box-shadow:  20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
        -moz-box-shadow:  20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
        margin: 5px auto 50px;
        width: 90vw;
        padding: 25px 25px 120px 25px;
        border-radius: 20px;
    }
    .innerContainer {
        margin: 0 auto;
        width: 100%;
        max-width: 700px;
    }
    @media screen and (max-width: $bp-mobile) {
        .wrapperContent {
            margin-top: 20px;
        }
    }
</style>

<div class="wrapperContent">
    <div class="innerContainer">
        <slot />
    </div>
</div>