---
// Component Imports
import BaseLayout from '../../layouts/BaseLayout.astro'

// Component Script:

// export async function getStaticPaths() {
//     return allPosts = Astro.fetchContent('./*.md')
// }

// const { sortedPosts } = Astro.props


const title = 'Blog - Richard';
const description = ''
const permalink = ''
const publishDate = ''


---
<BaseLayout title={title}>
	<header>
		<h1>Blog</h1>
	</header>
	<body>
		<section>
            Some articles you might find interesting or helpful. 
        </section>
	</body>
</BaseLayout>