---
// Component Imports
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogCard from '../../components/BlogCard.astro'

const posts = (await Astro.glob('./*.md')).sort(
  (a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()
)

const title = 'Blog - Richard'

---

<style lang='scss'>
  header {
    margin-bottom: 20px;
  }
</style>

<BaseLayout title={title} wrapper={false}>
  <div>
    <header>
      <h1>{title}</h1>
    </header>
    {posts.map((post) => (
    <BlogCard post={post} />
    ))}
  </div>
</BaseLayout>