---
// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro'
import LinkButton from '../components/LinkButton.astro'
import styles from '../styles/Contact.module.scss'

// Component Script:

const title = 'Contact - Richard'

---

<BaseLayout title={title} wrapper>
	<header class={styles.contactHeader}>
		<h1 >Contact</h1>
		<p>If you have any questions for me or would like to get connected I would love to hear from you.</p>
	</header>
	<main>
		<form class={styles.form} name="contact" method="POST" data-netlify="true">
			<input type="hidden" name="form-name" value="contact" />
			<p>
				<label>Your Name: <input type="text" name="name" /></label>
			</p>
			<p>
				<label>Your Email: <input type="email" name="email" /></label>
			</p>
			<p>
				<label>Message: <textarea name="message"></textarea></label>
			</p>
			<p>
				<LinkButton type="submit">Send</LinkButton>
			</p>
		</form>
	</main>
</BaseLayout>