---
// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro'
import Hero from '../components/Hero.astro'
import FeatureContainer from '../components/FeatureContainer.astro'
import styles from '../styles/Home.module.scss'

// Component Script:

const title = 'Home - Richard'

---

<BaseLayout title={title} wrapper>
	<Hero />
	<body>
		<main>
			<article class={styles.mainContent} id='main-content'>
				<p>Thanks for visiting my site.</p>
				<br>
				<p>I am a developer/engineer based in the Greater Cincinnati Area. Feel free to take a look around. You can
					find some of my <a href='/work'>work</a>, get in <a href='/contact'>touch</a> with me, learn more <a href='/about'>about</a> me, and
					read some of my <a href='/blog'>articles</a>.
				</p>
				<br>
				<p>I currently work at Insight as a Software Engineer in consulting. In this role I focus on
					frontend technologies to provide the best possible user experience. I love speaking at conferences and sharing knowledge with bootcampers. 
				</p>
			</article>
			<FeatureContainer />
		</main>
	</body>
</BaseLayout>