---
// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro'

// Component Script:

let title = 'Home - Richard';

---
<BaseLayout title={title}>
	<header>
		<h1>Richard Miller Wimmer</h1>
	</header>
	<body>
		<article>
			<p>This is content all about me.</p>
		</article>
	</body>
</BaseLayout>
