---
// Component Imports
import BaseHead from '../components/BaseHead.astro'

// Component Script:

let title = 'My Astro Site';

---
<html lang="en">
	<head>
		<BaseHead title={title}/>
	</head>
<body>
	<main>
		<header>
			<div>
				<h1>Richard Miller Wimmer</h1>
			</div>
		</header>
		<section>
			<p>Some content about me.</p>
		</section>
	</main>
</body>
</html>
