---
import NavLink from './NavLink'

// console.log(Astro.request.url.pathname)
---

<nav>
    <ul>
        <NavLink class=`${Astro.request.url.pathname === '/' ? 'is-active' : ''}` text='home' href='/' />
        <NavLink class=`${Astro.request.url.pathname === '/work' ? 'is-active' : ''}` text='work' href='/work' />
        <NavLink class=`${Astro.request.url.pathname === '/about' ? 'is-active' : ''}` text='about' href='/about' />
        <NavLink class=`${Astro.request.url.pathname === '/blog' ? 'is-active' : ''}` text='blog' href='/blog' />
        <NavLink class=`${Astro.request.url.pathname === '/contact' ? 'is-active' : ''}` text='contact' href='/contact' />
    </ul>
</nav>