---
import styles from '../styles/BlogAside.module.scss';
---

<aside class={styles.asideWrapper}>
    <div>
      <a href="/blog" aria-label="Blog Landing Page">
        <img src="/Headshot_2023_small.jpg" height="100px" width="100px" alt="Profile Picture"/>
      </a>
      <h2>Richard Miller Wimmer</h2>
      <h3>
        Software Engineer
        <br/>            
        Web Developer
      </h3>
    </div>
    <div class={styles.socialShareWrapper}>
      <!-- <h3>social share</h3> -->
    </div>
</aside>