---
import Card from "./Card.astro";
import styles from '../styles/FeatureContainer.module.scss'

interface FeatureContainerProps {
    header?: string;
}

const { header } = Astro.props as FeatureContainerProps
---
<div class={styles.featureWrapper}>
    <section class={styles.featureContainer}>
        {header ? <h3>{header}</h3> : null}
        <div class={styles.cardContainer}>
            <slot />
        </div>
    </section>
</div>