---
// Component Imports

// Component Script:

---
<footer>
    	<h5>&copy; 2021 Richard Miller Wimmer</h5>
		<p>🚀 Built using Astro</p>
        <div>
            <a href="https://github.com/RichardMillerWimmer" target="_blank" rel="noreferrer">
                github
            </a>
            <a href="https://www.linkedin.com/in/richard-miller-wimmer/"
                target="_blank" rel="noreferrer">
                linkedin
            </a>
        </div>
</footer>