---
import styles from '../styles/LinkButton.module.scss'

interface LinkButtonProps {
  href?: string
  noreferrer?: string
  target?: string
  type?: "submit" | "reset" | "button";
}

const {href, noreferrer, target, type} = Astro.props as LinkButtonProps

const buttonProps = {type}
const linkProps = {href, noreferrer, target}
---

<style>
  svg {
    height: 45px;
    left: 0;
    position: absolute;
    width: 100%; 
  }
  rect {
    fill: none;
    stroke: rgb(0, 0, 0);
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
  }
  a, button {
    line-height: 1.4;
    padding: .25em;
    text-align: center;
  }

</style>

{ href ? 
  <a class={styles.btn} {...linkProps}>
    <svg class="">
      <rect x="0" y="0" fill="none" width="100%" height="100%" />
   </svg>  
    <slot />
  </a>  
:
<button class={styles.btn} {...buttonProps}>
  <svg class="">
      <rect x="0" y="0" fill="none" width="100%" height="100%" />
   </svg>
  <slot />
</button>
}
