$font-body: "Montserrat", "sans-serif", "Open Sans", "sans-serif";
$font-header: "Playfair Display", serif;
$font-accent: "Montserrat", "sans-serif";

$color-white: #ffffff;
$color-black: #131613;
$color-sublte: #fafafa;

$bp-mobile: 450px;
$bp-tablet: 768px;
