

$font-body: "Montserrat", "sans-serif", "Open Sans", "sans-serif";
$font-header: "Playfair Display", serif;
$font-accent: "Sarina", "cursive";

$color-white: #ffffff;
$color-black: #131613;

$bp-mobile: 450px;
$bp-tablet: 768px;
