@import './variables';

.blogWrapper {
    display: flex;
}

.navWrapper {
    width: 80px;
    border: black 1px solid;
    height: calc(100vh - 86px);
    position: sticky;
    top: 0;
}

.asideWrapper {
    width: 280px;
    height: calc(100vh - 86px);
    padding: 0 24px;
    border: black 1px solid;
    position: sticky;
    top: 0;

}

.asideWrapper img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    transition: all 0.5s;
}

.asideWrapper img:hover {
    transform: scale(1.05);
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.2));
}

.asideWrapper h2, h3 {
    font-family: $font-body;
}

.asideWrapper h2 {
    font-size: 1.2rem;
    font-weight: 700;
}

.asideWrapper h3 {
    font-size: 1rem;
}

.profileContainer {
    margin: 30px 0;
}
