@import './variables';

.menu {
    background-color: #0d3052a6;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 100px;
    z-index: 20;
  }

  .burgerContainer {  
    width: 45px;
    height: 40px;
    margin: 30px auto;
  }

  .bar {
    margin: 5px;
    height: 5px;
    width: 100%;
    background-color: $color-black;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }

@media screen and (min-width: $bp-mobile) {
    .burgerContainer {
      display: none;
    }
  }