.wrapper {
    // top: 10%;
    // left: 40%;
    width: 100%;
    height: 300px;
    perspective: 900px;
  }

.card {
    position: absolute;
    top: 0%;
    height: 200px;
    width: 350px;
    border-radius: 20px;
    background-color: azure;
    text-align: center;
    box-shadow: 40px 30px 20px rgba(0, 0, 0, 0.2)  ; 
	-webkit-box-shadow: 40px 30px 20px rgba(0, 0, 0, 0.2)  ; 
	-moz-box-shadow: 40px 30px 20px rgba(0, 0, 0, 0.2)  ; 
    transition: all 0.5s;
    transform: rotateX(60deg) scale(0.7);
    perspective: 900px;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 55px 45px 25px rgba(0, 0, 0, 0.2)  ; 
	-webkit-box-shadow: 55px 45px 25px rgba(0, 0, 0, 0.2)  ; 
	-moz-box-shadow: 55px 45px 25px rgba(0, 0, 0, 0.2)  ; 
}

@keyframes liftCard {
    0% {}
    25% {}
    50% {}
    75% {}
    100% {}
}