.wrapper {
    width: 100%;
    height: 400px;
    perspective: 900px;
  }

.card {
    position: absolute;
    top: 0%;
    height: 300px;
    width: 300px;
    border-radius: 20px;
    background-color: azure;
    text-align: center;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2)  ; 
	-webkit-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2)  ; 
	-moz-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2)  ; 
    transition: all 0.5s;
    transform: rotateX(8deg) scale(0.95); 
    perspective: 900px;
}

.card:hover {
    transform: scale(1);
    box-shadow: 45px 35px 20px rgba(0, 0, 0, 0.2)  ; 
	-webkit-box-shadow: 45px 35px 20px rgba(0, 0, 0, 0.2)  ; 
	-moz-box-shadow: 45px 35px 20px rgba(0, 0, 0, 0.2)  ; 
}

@keyframes liftCard {
    0% {}
    25% {}
    50% {}
    75% {}
    100% {}
}