@import './variables';

.heroImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 440px;
}


@media screen and (max-width: $bp-tablet) {
    .heroImg {
        height: 340px; 
    }
}
@media screen and (max-width: $bp-mobile) {
    .heroImg {
       height: 240px; 
    }
}
// accounts for galaxy fold
@media screen and (max-width: 325px) {
    .heroImg {
       height: 200px; 
    }
}