@import './variables';

.heroImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 240px;
}

.heroGridContainer {
    display: grid;
    grid-template-columns: 1fr;
}

.imageContainer {
    height: 240px;
    margin: 0 auto;
    position: relative;
}

@media screen and (min-width: $bp-mobile) {
    .heroImg {
       height: 340px; 
    }
    .imageContainer {
        height: 340px;
    }
    .heroTagLine {
        max-width: 460px;
        margin: 0 auto;
    }
}
@media screen and (min-width: $bp-tablet) {
    .heroImg {
        height: 440px;
        grid-area: 1 / 1 / 5 / 3; 
    }
    .imageContainer {
        height: 440px;
        margin-left: -100px;
    }
    .heroGridContainer {
        height: 440px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 110px);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .heroTagLine {
        grid-area: 3 / 3 / 5 / 5;
        font-size: 1.7rem;
    }
    .heroIntroduction {
        padding: 70px 0 0 0;
        grid-area: 1 / 3 / 3 / 5;
    }
}
// accounts for galaxy fold
@media screen and (max-width: $galaxy-fold) {
    .heroImg {
       height: 200px; 
    }
    .imageContainer {
        height: 200px;
    }
}