li {
  display: inline-block;
  margin: 10px;
}

a {
  text-decoration: none;
}

// a:hover {
//   text-decoration: overline;
// }

.isActive {
  text-decoration: underline;
}

// .isActive:hover {
//   text-decoration: underline overline;
// }
