@import './variables';

.container {
    position: relative;
    margin: 0 auto 50px;
    // padding: 20px;
    // background-color: $color-white;
}

.flexContainer {
    display: flex;
    flex-flow: column nowrap;
}

.thumbnailContent {
    margin-top: 10px;
}

.workImg {
    width: 100%;
}

.seeMoreCenter {
    margin-top: 5px;
    text-align: center;
    text-decoration: underline;
}

@media screen and (min-width: $bp-tablet) {
    .container{
        width: 100%;
        padding: 30px;
        background-color: $color-subtle;
    }

    .flexContainer {
        margin: 0 auto;
        flex-flow: unset;
    }

    .row {
        flex-flow: row;
    }
    .row-reverse {
        flex-flow: row-reverse;
    }

    .imageContainer {
        position: relative;
        width: auto;
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5); 
        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5);
    }

    .workImg {
        height: 225px;
        order: 1;
    }

    .titleContainer {
        order: 2;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 424px;
    }

    // .titleContainer h3 {
    //     vertical-align: middle;
    // }

    .container .thumbnailContent {
        opacity: 0;
        -webkit-transition: .5s ease-in-out;
        transition: .5 ease-in-out;
    }
    
    .container .workImg {
        order: 3;
        opacity: 1;
        -webkit-transition: .5s ease-in-out;
        transition: .5 ease-in-out;
    }

    .seeMoreCenter {
        margin-top: 20px;
    }
    
    .thumbnailContent {
        position: absolute;
        margin-top: 0;
        padding: 20px 40px;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }
    
    .container:hover .thumbnailContent {
        opacity: 1;
    }
    
    .container:hover .workImg {
        opacity: .05;
    }
}