@import './variables';

.container {
    position: relative;
    margin: 0 auto 50px;
    padding: 20px;
    background-color: $color-white;
}

.flexContainer {
    display: flex;
    flex-flow: column nowrap;
}

.thumbnailContent {
    margin-top: 10px;
}

.workImg {
    width: auto;
}

.seeMoreCenter {
    margin-top: 5px;
    text-align: center;
    text-decoration: underline;
}

@media screen and (min-width: $bp-tablet) {
    .container{
        // height: 325px;
        width: 613px;
    }

    .workImg {
        height: 325px;
    }

    .container .thumbnailContent {
        opacity: 0;
        -webkit-transition: .5s ease-in-out;
        transition: .5 ease-in-out;
    }
    
    .container .workImg {
        opacity: 1;
        -webkit-transition: .5s ease-in-out;
        transition: .5 ease-in-out;
    }

    .seeMoreCenter {
        margin-top: 20px;
    }
    
    .thumbnailContent {
        position: absolute;
        margin-top: 0;
        padding: 20px 40px;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }
    
    .container:hover .thumbnailContent {
        opacity: 1;
    }
    
    .container:hover .workImg {
        opacity: .05;
    }
}