---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/footer.astro'

const {title} = Astro.props
---

<html lang="en">
<head>
	<BaseHead title={title}/>
</head>
<body>
	<main>
        <slot />
	</main>
    <Footer />
</body>
</html>