---
// Component Imports:
import BaseHead from '../components/BaseHead.astro'
import Footer from '../components/Footer.astro'
import Wrapper from '../components/Wrapper.astro'
import Nav from '../components/Nav/Nav.astro'
import SkipToMain from '../components/SkipToMain.astro'

// Component Script:

interface BaseLayoutProps {
    title: string
    description?: string
    permalink?: string
    publishDate?: string
    wrapper: boolean
}

const { title, description, permalink, publishDate, wrapper } = Astro.props as BaseLayoutProps

const page = new URL(Astro.request.url).pathname;

---



<html lang="en">
    <BaseHead title={title} description={description} permalink={permalink} publishDate={publishDate} />
    <body>
        {page === '/' && <SkipToMain />}
        <Nav />
        {wrapper ?
        <Wrapper>
            <slot />
            <Footer />
        </Wrapper>
        :
        <div class="content">
            <slot />
            <Footer />
        </div>
        }
    </body>
</html>

<style lang='scss'>
    .content {
        position: relative;
        min-height: calc(100vh - 105px);
        margin: 5px auto 50px;
        width: 90vw;
        padding: 25px 0 120px 0;
        max-width: 848px;
    }
</style>