---
import Burger from './Burger.tsx'
import NavList from './NavList.tsx';
---

<style lang='scss'>
    @import '../../styles/_variables.scss';

    .mobileNav {
        display: none;
    }
    .desktopNav {
        display: block;
    }
    @media screen and (max-width: $bp-mobile) {
        .desktopNav {
            display: none;
        }
        .mobileNav {
            display: unset;
        }
    }

</style>

<div>
    <div class="desktopNav">
        <NavList client:load/>
    </div>
    <div class="mobileNav">
        <Burger client:load />
    </div>
</div>
